{% extends "base.html" %}

{% block title %}
New troggle account registered
{% endblock %}

{% block header %}
<h1>activate.html</h1>
{% endblock %}

{% block content %}

{% if account %}
<p>
Hello, {{ account }}! Your account is now activated. Now you can <a href="{%url auth_login%}">log in</a> with the password you chose. Use the links in the upper right to control this in the future.
</p>

<p>
If you have been on the expedition in the past, you already have a profile in the system; <a href={% url profiles_select_profile %}>click here </a> to find it and link it to your account. Otherwise, please <a href={% url profiles_create_profile %}> create yourself a new profile</a>. 
</p>
{% endif %}

The activation key you entered has already been used or was invalid.

{% endblock %}