{% extends "base.html" %}

{% block title %}
registration_complete.html | {{ block.super }}
{% endblock %}

{% block header %}
<h1>registration_complete.html</h1>
{% endblock %}

{% block content %}
Thank you for signing up, {{ user.username }}. An email with the activation code has been sent to your inbox. If you have been on the expedition in the past, you already have a profile in the system; <a href={% url profiles_select_profile %}>click here </a> to find it and link it to your account. Otherwise, please <a href={% url profiles_create_profile %}> create yourself a new profile</a>. 
{% endblock %}