<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/main3.css" />

<title>{% block title %}THE TITLE{% endblock %}</title>

<script src="{{ settings.MEDIA_URL }}js/base.js" type="text/javascript"></script>
{% block head %}{% endblock %}
</head>

<body>

<div>
  <div id="expoHeader"> <img id="frontPageBanner" src="{{ settings.MEDIA_URL }}loserBanner.jpg"/>
    <div id="expoHeaderText">
      <h1>CUCC Expeditions to Austria: 1976 - </h1>
      <div id="expoFinalDate">
        <h1>2009</h1>
      </div>
    </div>
  </div>
  <hr/>
  <div id="editLink"> 
  	{% block loginInfo %}
    	{% if user %}
	    	You are logged in as {{ user.username }}. 
            | <a href="{{ settings.URL_ROOT }}/accounts/logout">Log out</a>
        {% else %}
        	<a href="{{ settings.URL_ROOT }}/accounts/register">Sign up</a>
            | <a href="{{ settings.URL_ROOT }}/accounts/login">Log in</a>
        {% endif %}
    {% endblock%}
    | <a href="{{ settings.URL_ROOT }}">Home </a>
 	{% block editLink %}

    {% endblock %}
  </div>
</div>



  {% block nav %}
  <!-- Use id="nav" for the left side menu -->
  {% endblock %} 



<div id="content" >
{% block contentheader %}
{% endblock %}
{% block content %}
    REPLACE : The content
{% endblock %} 
<br class="clearfloat" /> <!--This is to ensure that the content div expands around floated objects*/-->
</div>


<div id="footer">
{% block footer %}
  THE FOOTER
{% endblock %}
</div>
</body>
</html>

