<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/main3.css" title="eyeCandy"/>
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/mainplain.css" title="plain"/>
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/dropdownNavStyle.css" />
<title>{% block title %}Troggle{% endblock %}</title>
<script src="{{ settings.MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/jquery.quicksearch.js" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/base.js" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/jquery.dropdownPlain.js" type="text/javascript"></script>

{% block head %}{% endblock %}
</head>
<body onLoad="contentHeight();">

<div id="header"> 
  <h1>CUCC Expeditions to Austria: 1976 - 2009</h1>
  <div id="editLinks"> {% block loginInfo %}
    {% if user.username %}
    You are logged in as {{ user.username }} 
    	{% if user.person %}(<a href="{{ user.person.get_absolute_url }}">{{ user.person }}</a>)
        	{% else %}<a href={% url profiles_select_profile %}>sort your profile</a>
        {% endif %}.
    | <a href="{% url auth_logout %}">Log out</a> {% else %} <a href="{% url registration_register %}">Sign up</a> | <a href="{% url auth_login %}">Log in</a> {% endif %}
    {% endblock%}
    | <a href="{{ settings.URL_ROOT }}">Home</a> | <a class="killEyeCandy">Kill Eyecandy</a><a class="showEyeCandy" style="display: none;">Show Eyecandy</a>
    {% block editLink %}

    {% endblock %}
   </div>
</div>
    
<div id="nav">
  {% block nav %}
  <!-- Use id="nav" for the left side menu -->
  {% endblock %}
</div>
 

 
<div id="content" >

  	{% block contentheader %}
    {% endblock %}

<div id="related"> 
{% block related %}
<script language="javascript">
	$('#related').remove()
	/*This is a hack to stop a line appearing because of the empty div border*/
</script>
{% endblock %}
</div>

    {% block content %}
    REPLACE : The content
    {% endblock %}

  </div>
<div id="eyeCandyFooterPopUps" class = "eyeCandy">

</div>
{% block margins %}
<img class="leftMargin eyeCandy" src="{{ settings.MEDIA_URL }}eieshole.jpg">
<img class="rightMargin eyeCandy" src="{{ settings.MEDIA_URL }}goesser.jpg">
{% endblock margins %}


	<ul class="dropdown" id="footerLinks">

		<li><a href="#">External links</a>
                <ul class="sub_menu">
                    <li><a id="cuccLink" href="http://www.srcf.ucam.org/caving/wiki/Main_Page">CUCC website</a></li>
                    <li><a id="expoWebsiteLink" href="http://cucc.survex.com/expo">Expedition website</a></li>
                </ul>
        </li>
        <li><a href="{% url frontpage %}">Troggle front page</a></li>
        <li><a id="cavesLink" href="{% url caveindex %}">caves</a></li>
        <li><a id="caversLink" href="{% url personindex %}">cavers</a></li>
        <li><a href="#">expeditions</a>
        		<ul class="sub_menu">
                    <li><a id="expeditionsLink" href="{{ Expedition.objects.latest.get_absolute_url }}">newest</a></li>
                	<li><a id="expeditionsLink" href="{% url expeditions %}">list all</a></li>
                </ul>
        </li>
        <li><a id="surveyBinderLink" href="{% url survey %}">survey binder</a></li>
        <li><a href="#">diversions</a>
        		<ul class="sub_menu">
                	<li><a href="{% url stats %}">statistics</a></li>
                </ul>
        </li>
        <li><a href="{% url calendar 2008 %}">expedition calendar</a></li>
		<li><a href="#">admin</a>
                <ul class="sub_menu">
                    <li><a id="cuccLink" href="{% url controlpanel %}">Import / export data</a></li>
                    <li><a id="expoWebsiteLink" href="{{ settings.URL_ROOT }}admin">Troggle administration pages</a></li>
                </ul>
        <li class="toggleMenu"><a href="#">hide menu</a></li>

	</ul>
        <div class="toggleMenu" style="display:none; position:fixed; bottom:0; right:130px"><a href="#">Show menu</a></li>
</body>
</html>
