{% extends "base.html" %}

{% block title %}
	CUCC expedition calendar:
	{% if expedition %}
		{{ expedition.year }}
    {% else %}
    	choose a year
    {% endif %}
{% endblock %}

{% block head %}
<style type="text/css"> 
<!--
.no                     { background: #7f96e8; width: 80pt; font-size: 10pt }
.yes                    { background: #ff6666; width: 80pt; font-size: 10pt }
.name                    { background: #999; width: 80pt; text-align:right; font-size: 10pt }
.date                    { background: #999; width: 80pt; text-align:right; font-size: 10pt }
--> 
</style>

{% endblock %}

{% block contentheader %}
	<h2>Expedition members present calendar for {{ expedition.year }}</h2>
	<table style="margin:0 auto">
	<tr>
    	<td class='yes' width="10"></td><td>Expedition member present in Austria</td>
    </tr>
    <tr>
        <td class='no' width="10"></td><td>Expedition member absent in Austria</td>
	</tr></table>
    <br />
{% endblock%}

{% block content %}
	{% if expedition %}
    	<table>
        	<tr><td />
            	{% for date in expedition.ListDays %}               	
        	        {% ifchanged date.month %}
    	                <td class="date">{{ date|date:"F" }}</td>
                    {% else %}
                    	<td class="date"></td>
	                {% endifchanged %}            
                {% endfor %}                    
        	</tr>
            <tr><td />
            	{% for date in expedition.ListDays %}               	
					<td class="date">{{ date|date:"D" }}</td>
                {% endfor %}
            </tr>
        	<tr><td />
            	{% for date in expedition.ListDays %}               	
					<td class="date">{{ date|date:"d" }}</td>
                {% endfor %}
            </tr>

    		{% for personexpedition in expedition.personexpedition_set.all %}
            	<tr>
                      <td class="name">
                          <a href="">{{ personexpedition.person }}</a>
                          
                      </td>
                      {% if personexpedition.ListDaysTF %}
                      {% for dateTF in personexpedition.ListDaysTF %}
                      		<td {{ dateTF|yesno:"class='yes',class='no'"|safe }}></td>
                      {% endfor %}
                      {% else %}
                      		<td colspan="{{ expedition.ListDays|length }}"><center>No data.</center></td>
                      {% endif %}
                 </tr>
            {% endfor %}
	    </table>
    {% endif %}
{% endblock %}