{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Cave Index{% endblock %}

{% block content %}

<h3>Notable caves</h3>
<ul>
{% for cave in notablecaves %}
  <li> <a href="{{ cave.get_absolute_url }}">{{cave.official_name|wiki_to_html_short}} ({{cave.href}})</a> </li>
{% endfor %}
</ul>

<h3>All caves</h3>
<ul>
{% for cave in caves %}
  <li> <a href="{{ cave.get_absolute_url }}">{{cave.official_name|wiki_to_html_short}} ({{cave.href}})</a> </li>
{% endfor %}
</ul>

{% endblock %}