{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Cave Index{% endblock %}

{% block content %}

<h3>Notable caves</h3>
<ul>
{% for cave in notablecaves %}
  <li> <a href="{{ cave.get_absolute_url }}">{{cave.official_name|wiki_to_html_short}} ({{cave}})</a> </li>
{% endfor %}
</ul>

<h3>All caves</h3>

	<form method="get">
		<div>
			<input type="text" value="" name="q" id="q" />
		</div> 
	</form>

<ul id="posts">
{% for cave in caves %}
  <li> <a href="{{ cave.get_absolute_url }}">{{cave.official_name|wiki_to_html_short}} ({{cave}})</a> </li>
{% endfor %}
</ul>

{% endblock %}