{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Cambridge Expeditions to Austria{% endblock %}

{% block content %}

<h2>The unfinished front page</h2>
<b>Work down through an expedition page link</b>
<p class="indent"><b>Remaining work:</b> 

<p>continue to build up the network; </p>
<p>tables of trips per year per person;</p> 
<p>parse 1995-1976 logbooks; </p>
<p>continue to correct the name matching and spelling; </p>
<p>detect T/U on log entries; </p>
<p>match caves to log entries; </p>
<p>see the cave list;</p> 
<p>simplify the survex parsing code (if necessary); </p>
<p>vast front-page layout table of folks and caving trips and years; </p>
<p>links between logbooks and survex blocks to cave things; </p>
<p>where are the subcaves; </p>
<p>mini-tree of survexblocks; </p>
<p>connect sketches to caves to survey blocks and render thumbnailwise; </p>
<p>all images to start appearing in pages; and so on</p>

<h3>{{message}}</h3>

<ul>
    <li><a href="{% url personindex %}">List of People</a></li>
    <li><a href="{% url caveindex %}">List of Caves</a></li>
    <li><a href="/statistics">Statistics of what's loaded in the database</a></li>
    <li><a href="{% url survexindex all %}">Survex directory</a></li>
    <li><a href="{% url survey %}">Survey files</a></li>
</ul>

<form action="" method="GET">
  <input type="submit" name="reloadexpos" value="Reload Expos">
  <input type="submit" name="reloadsurvex" value="Reload Survex">
</form>

<ul id="expeditionlist">

    {% for expedition in expeditions %}
        <li>
            <a href="{% url expedition expedition.year %}">{{expedition.name}}</a>
        </li>
    {% endfor %}

</ul>

{% endblock %}
