{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Logbook {{logbookentry.id}}{% endblock %}
{% block editLink %}<a href={{logbookentry.get_admin_url}}>Edit logbook entry {{logbookentry|wiki_to_html_short}}</a>{% endblock %}
{% block content %}

<h2>{{logbookentry.title|safe}}</h2>

<div id="related">
<p><a href="{{ logbookentry.expedition.get_absolute_url }}">{{logbookentry.expedition.name}}</a></p>

{% if logbookentry.cave %}
  <p>place: <a href="{{ logbookentry.cave.get_absolute_url }}">{{logbookentry.place}}</p>
{% else %}
  <p>{{logbookentry.place}}</p>
{% endif %}

<p>
  {% if logbookentry.get_previous_by_date %}
    <a href="{{ logbookentry.get_previous_by_date.get_absolute_url }}">{{logbookentry.get_previous_by_date.date}}</a>
  {% endif %}
  {% if logbookentry.get_next_by_date %}
    <a href="{{ logbookentry.get_next_by_date.get_absolute_url }}">{{logbookentry.get_next_by_date.date}}</a>
  {% endif %}
</p>

<table class="cavers">
<tr><th>Caver</th><th>T/U</th><th>Prev</th><th>Next</th></tr>
{% for persontrip in logbookentry.persontrip_set.all %}
<tr>
  {% ifequal persontrip.personexpedition logbookentry.author %}
    <td class="author">
  {% else %}
    <td>
  {% endifequal %}
  <a href="{{ persontrip.personexpedition.get_absolute_url }}">{{persontrip.personexpedition.person}}</a>
  </td>
  
  <td>
  {% if persontrip.timeunderground %}
     - T/U {{persontrip.timeunderground}}</p>
  {% endif %}
  </td>

  <td>
  {% if persontrip.persontrip_prev %}
    <a href="{{ persontrip.persontrip_prev.logbook_entry.get_absolute_url }}">{{persontrip.persontrip_prev.date}}</a>
  {% endif %}
  </td>
  <td>
  {% if persontrip.persontrip_next %}
    <a href="{{ persontrip.persontrip_next.logbook_entry.get_absolute_url }}">{{persontrip.persontrip_next.date}}</a>
  {% endif %}
  </td>

</tr>
{% endfor %}
</table>
{% if newQMlink %}
<a href="{{newQMlink}}">Add QM found on this trip</a>
{% endif %}
</div>

<div id="col1">
<div class="logbookentry">
<b>{{logbookentry.date}}</b>
    {{logbookentry.text|wiki_to_html}}</div>
</div>
</div>

{% endblock %}
