{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Person Index{% endblock %}

{% block content %}

<table>
<tr>
{% for persons in personss %}
<td>
<table>
<tr><th>Person</th><th>First</th><th>Last</th></tr>
{% for person in persons %}
<tr>
  <td><a href="{% url person person.href%}">{{person|wiki_to_html_short}}</a></td>
  <td><a href="{% url personexpedition person.href person.Firstexpedition.expedition.year %}">{{person.Firstexpedition.expedition.year}}</a></td> 
  <td><a href="{% url personexpedition person.href person.Lastexpedition.expedition.year %}">{{person.Lastexpedition.expedition.year}}</a></td> 
</tr>
{% endfor %}
</table>
</td>
{% endfor %}
</tr>
</table>

{% endblock %}
