{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Person {{personexpedition.person|wiki_to_html_short}} for {{personexpedition.expedition}}{% endblock %}


{% block content %}
<h2>{{personexpedition.person}}: {{personexpedition.expedition}} ({{personexpedition.date_from}} - {{personexpedition.date_to}})</h2>

<h3>{{message}}</h3>

<p>Needs links fore and back through expeditions attended by this person (or as a complete barchart type list with one date in bold)</p>
<p>Needs lists below to be sorted by date, and the duplicates removed from survey role list</p>
<p>Finally, a correspondence between these two columns</p>

<div id="col2">
<table class="survexcontibutions">
<tr><th>Date</th><th>Place</th><th>Role</th></tr>
{% for personrole in personexpedition.personrole_set.all %}
  <tr>
    <td>{{personrole.survex_block.date}}</td>
    <td><a href="{% url survexblock personrole.survex_block.survexpath %}">{{personrole.survex_block.survexpath}}</a></td>
    <td>{{personrole.role}}</td>
  </tr>
{% endfor %}
</table>
</div>

<div id="col1">
<table class="expeditionlogbooks">
<tr><th>Date</th><th>Title</th><th>Place</th></tr>
{% for persontrip in personexpedition.persontrip_set.all %}
  <tr>
    <td>{{persontrip.date}}</td>
    <td><a href="{% url logbookentry persontrip.logbook_entry.href %}">{{persontrip.logbook_entry.title|safe}}</td>
    <td>{{persontrip.place}}</td>
  </tr>
{% endfor %}
</table>
</div>

{% endblock %}
