{% extends "base.html" %}
{% load wiki_markup %}
{% load link %}

{% block title %}Person {{personexpedition.person|wiki_to_html_short}} for {{personexpedition.expedition}}{% endblock %}


{% block content %}
<h2>{{personexpedition.person}}: {{personexpedition.expedition}} ({{personexpedition.date_from}} - {{personexpedition.date_to}})</h2>

<h3>{{message}}</h3>

<p><b><a href="{{ personexpedition.expedition.get_absolute_url }}">Main page for expedition: {{personexpedition.expedition}}</a></b></p>
<p><b><a href="{{ personexpedition.person.get_absolute_url }}">Main page for person: {{personexpedition.person}}</a></b></p>

<p>List of other expos by this person</p>
<p>
{% for otherpersonexpedition in personexpedition.person.personexpedition_set.all %}
{% ifequal otherpersonexpedition personexpedition %}
  | <b>{{otherpersonexpedition.expedition.year}}</b>
{% else %}
  | {{ otherpersonexpedition|link }}
{% endifequal %}
{% endfor %}
</p>

<h3>Table of all trips and surveys aligned by date</h3>
<div>
<table class="survexcontibutions">
<tr><th>Date</th><th colspan="2">Trips</th><th colspan="2">Surveys</th></tr>
{% for persondate in personchronology %}
<tr>
  <td class="date">{{persondate.0}}</td>

  {% if persondate.1 %}
     <td class="trip"><a href="{{ persondate.1.logbook_entry.get_absolute_url }}">{{persondate.1.logbook_entry.title|safe}}</a></td>
     <td><a href="{{ persondate.1.logbook_entry.cave.get_absolute_url }}">{{persondate.1.place|safe}}</a></td>
  {% else %}
     <td colspan="2"> </td>
  {% endif %}

  {% if persondate.2 %}
    <td class="survexblock"><a href="{% url survexblock persondate.2.0 %}">{{persondate.2.0}}</a></td>
    <td class="roles">{{persondate.2.1}}</td>
  {% else %}
    <td colspan="2"> </td>
  {% endif %}

</tr>
{% endfor %}
</table>
</div>

{% endblock %}
