{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Person Index{% endblock %}

{% block content %}

<h2>Notable expoers</h2>
<table class="searchable">
<tr><th>Person</th><th>First</th><th>Last</th><th>Notability</th></tr>
{% for person in notablepersons %}
<tr>
  <td><a href="{{ person.get_absolute_url }}">{{person|wiki_to_html_short}}</a></td>
  <td><a href="{{ person.personexpedition_set.all.0.get_absolute_url }}">{{ person.personexpedition_set.all.0.expedition.year }}</a></td> 
  <td><a href="{{ person.personexpedition_set.latest.get_absolute_url }}">{{ person.personexpedition_set.latest.expedition.year }}</a></td> 
  <td>{{person.notability}}</td>
</tr>
{% endfor %}
</table>


<h2>All expoers</h2>
<table class="searchable">
<tr>
{% for persons in personss %}
<td>

<table>
<tr><th>Person</th><th>First</th><th>Last</th></tr>
{% for person in persons %}
<tr>
  <td><a href="{{ person.get_absolute_url }}">{{person|wiki_to_html_short}}</a></td>
  <td><a href="{{ person.personexpedition_set.all.0.get_absolute_url }}">{{person.personexpedition_set.all.0.expedition.year}}</a></td> 
  <td><a href="{{ person.personexpedition_set.latest.get_absolute_url }}">{{person.personexpedition_set.latest.expedition.year}}</a></td> 
</tr>
{% endfor %}
</table>
</td>
{% endfor %}
</tr>
</table>

{% endblock %}
