{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Person {{person|wiki_to_html_short}}{% endblock %}

{% block contentheader %}
<h2> {{person|wiki_to_html_short}} </h2>
{% endblock %}

{% block content %}
{% if person.blurb %}
{{person.blurb}}
{% endif %}

{% for pic in person.photo_set.all %}
{% if pic.is_mugshot %}
    <div class="figure">
      <p> <img src="{{ pic.file.url }}" class="thumbnail" />
      <p> {{ pic.caption }}
      </p>
      </p>
    </div>
{% endif %}
{% endfor %}
<br class="clearfloat" />

<h3>{{person|wiki_to_html_short}} has been on expo in the following years:</h3>
<p>
<ul>
{% for personexpedition in person.personexpedition_set.all %}
  <li> <a href="{{ personexpedition.get_absolute_url }}">{{personexpedition.expedition.year}}</a></li>
{% endfor %}
</ul>
</p>


{% endblock %}
