{% extends "cavebase.html" %}
{% load wiki_markup %}
{% block title %} Subcave {{subcave}} {% endblock title %}
{% block editLink %}<a href={{subcave.get_admin_url}}>Edit subcave {{subcave|wiki_to_html_short}}</a>{% endblock %}
{% block content %}

<h2>{{subcave}}</h2>
<p>
	{{subcave.description}}
</p>

<div id="col2">

  <h2>Related places</h2>
  
  <h3>Parent</h3>
  
  <ul>
   	{% if subcave.parent %}
	    <li><a href="{{subcave.parent.get_absolute_url}}">{{subcave.parent}}</a></li>
    {% else %}    
	    <li><a href="{{subcave.cave.get_absolute_url}}">{{subcave.cave}}</a></li>
    {% endif %}
  </ul>
  
  <h3>Connected subareas</h3>
  
  <ul>
  	{% for sibling in subcave.adjoining.all%}
	    <li><a href="{{sibling.get_absolute_url}}">{{silbling}}</a></li>
    {% endfor %}
  </ul>
  
  <h3>Children</h3>

  <ul>
  	{% for child in subcave.children.all %}
	    <li><a href="{{child.get_absolute_url}}">{{child}}</a></li>
    {% endfor %}    
  </ul>


</div>

{% endblock content %}