{% extends "base.html" %}
{% load wiki_markup %}


{% block title %}CUCC Virtual Survey Binder: {{ current_expedition }}{{ current_survey }}{%endblock%}
{% block javascript %}

<script language="javascript">
	blankColor = "rgb(153, 153, 153)"
	highlightedColor = "rgb(125, 125, 125)"
	chosenColor = "rgb(102, 102, 102)"
	mnuItmLst=document.getElementsByClassName("menuBarItem")
	function highlight(div){
	for (var i = 0, divIter; divIter = mnuItmLst[i]; i++) {
			if (divIter.style.backgroundColor!="rgb(102, 102, 102)"){
			divIter.style.backgroundColor=blankColor;
			}
		}
		if (div.style.backgroundColor!="rgb(102, 102, 102)"){
			div.style.backgroundColor="#B0B0B0";
		}
	}
	
	function unhighlight(div){
		if (div.style.backgroundColor!=blankColor){
			div.style.backgroundColor=blankColor;
		}
	}
	
	function choose(div){
		for (var i = 0, divIter; divIter = mnuItmLst[i]; i++) {
			document.getElementById(divIter.id+"Content").style.display="none";
			}
		document.getElementById(div.id+"Content").style.display="block";
		for (var i = 0, divIter; divIter = mnuItmLst[i]; i++) {
			document.getElementById(divIter.id).style.backgroundColor=blankColor;
			}
		div.style.backgroundColor=chosenColor;
		document.getElementById(progressTableContent).style.display="none";
	}
	
	function redirectSurvey(){
		window.location = "{{ settings.URL_ROOT }}survey/" + document.getElementById("expeditionChooser").value + "%23" + document.getElementById("surveyChooser").value;
		document.getElementById("progressTableContent").style.display='hidden'
	}
	
	function redirectYear(){
		window.location = "{{ settings.URL_ROOT }}survey/" + document.getElementById("expeditionChooser").value + "%23"
	}
</script>
{% endblock %}

<body class="twoColHybLtHdr">
{% block currentLocation %}
  CUCC Expo virtual survey binder:
  {% if current_survey %}
  {{current_survey}}
  {% else %}
  {{current_year }}
  {% endif %}
{% endblock %}

{% block nav %}
<div id="sidebar1">
  <br />
  <select id="expeditionChooser" onchange="redirectYear()">
    
	{% for expedition in expeditions.reverse %}   	
	    
    <option label="{{ expedition }}" value="{{ expedition }}"
    		{% ifequal expedition current_expedition %}
    			selected
	        {% endifequal %}	>
    
    {{ expedition }}
    
    </option>
    
    
    {% endfor %}

  
  </select>
  <select id="surveyChooser" onchange="redirectSurvey()">
    <option label="show all" value=""> {% for survey in current_expedition.survey_set.all %}
    <option label="{{ survey }}" value="{{ survey.wallet_number }}" 
    		{% ifequal survey current_survey %}
    			selected
	        {% endifequal %}	>
    {{ survey }} </option>
    
    
    {% endfor %}
        
    <option label="add" value="add">
  </select>
  <div id="status">
    <div id="notes" class="menuBarItem" onmouseover="highlight(this)" onmouseout="unhighlight(this)" onclick="choose(this)"> {% if notes %}&#10003;{% endif %}
      scanned notes </div>
    <div id="survexFile" class="menuBarItem" onmouseover="highlight(this)" onmouseout="unhighlight(this)" onclick="choose(this)"> {% if current_survey.survex_file %}&#10003;{% endif %}
      survex file </div>
    <div id="printedCentreline" class="menuBarItem" onmouseover="highlight(this)" onmouseout="unhighlight(this)" onclick="choose(this)"> {% if current_survey.centreline_printed_on %}&#10003;{% endif %}
      printed centreline </div>
    <div id="scannedPassageSketch" class="menuBarItem" onmouseover="highlight(this)" onmouseout="unhighlight(this)" onclick="choose(this)"> {% if planSketches %}&#10003;{% endif %}
      scanned passage sketch </div>
    <div id="tunnelXMLfile" class="menuBarItem" onmouseover="highlight(this)" onmouseout="unhighlight(this)" onclick="choose(this)">tunnel xml file</div>
    <div id="mainSketchIntegration" class="menuBarItem" onmouseover="highlight(this)" onmouseout="unhighlight(this)" onclick="choose(this)">add to main sketch</div>
  </div>
 </div>
  {% endblock %}

{% block content %}
<div id="mainContent">
  <div id="progressTableContent" class="behind" style="display:block;">
    <table>
      <tr>
        <th> </th>
        {% for survey in current_expedition.survey_set.all %}
        <th> {{ survey.wallet_number }} </th>
        {% endfor %} </tr>
      <tr>
        <td> Notes </td>
        {% for survey in current_expedition.survey_set.all %}
        <td> {% if survey.notes %}
          &#10003;
          {% endif %} </td>
        {% endfor %} </tr>
      <tr>
        <td> Survex file </td>
        {% for survey in current_expedition.survey_set.all %}
        <td> {% if survey.survex_file %}
          &#10003;
          {% endif %} </td>
        {% endfor %} </tr>
      <tr>
        <td> Plans </td>
        {% for survey in current_expedition.survey_set.all %}
        <td> {% if survey.plans %}
          &#10003;
          {% endif %} </td>
        {% endfor %} </tr>
      <tr>
        <td> Elevations </td>
        {% for survey in current_expedition.survey_set.all %}
        <td> {% if survey.elevations %}
          &#10003;
          {% endif %} </td>
        {% endfor %} </tr>
    </table>
  </div>
  <div id="notesContent" class="behind">
    <h3>Scanned notes for {{ current_survey }}.</h3>
    {% for noteItem in notes %}
    <div class="figure">
      <p> <img src="{{ noteItem.correctURL }}" class="thumbnail">
      <p> File at: <a href="{{ noteItem.correctURL }}"> {{ noteItem.file.name }} </a> <br />
        Scanned by: {{ noteItem.scanned_by }} <br />
        On: {{ noteItem.scanned_on }} <br />
      </p>
      </p>
    </div>
    {% endfor %}
    <div class="figure"> <a href="{{ settings.URL_ROOT }}admin/expo/scannedimage/add/"> <img src="{{ settings.URL_ROOT }}{{ settings.ADMIN_MEDIA_PREFIX }}img/admin/icon_addlink.gif" /> Add a new scanned notes page. </a> (to be improved) </div>
  </div>
  <div id="survexFileContent" class="behind"> survex file editor, keeping file in original structure <br />
    who entered by </div>
  <div id="printedCentrelineContent" class="behind"> centreline </div>
  <div id="scannedPassageSketchContent" class="behind">
    <h3>Scanned plan sketch files for {{ current_survey }}.</h3>
    {% for sketchItem in planSketches %}
    <div class="figure">
      <p> <img src="{{ sketchItem.correctURL }}" class="thumbnail" />
      <p> File at: <a href="{{ sketchItem.correctUrl }}"> {{ sketchItem.file.name }} </a> <br />
        Scanned by: {{ sketchItem.scanned_by }} <br />
        On: {{ sketchItem.scanned_on }} <br />
      </p>
      </p>
    </div>
    {% endfor %}
    <div class="figure"> <a href="{{ settings.URL_ROOT }}admin/expo/scannedimage/add/"> <img src="{{ settings.URL_ROOT }}{{ settings.ADMIN_MEDIA_PREFIX }}img/admin/icon_addlink.gif" /> Add a new scanned notes page. </a> (to be improved) </div>
  </div>
  <div id="tunnelXMLfileContent" class="behind"> link to tunnel xml file. potentially instance of tunnel applet... </div>
  <div id="mainSketchIntegrationContent" class="behind"> link to main sketch file </div>
  <!-- end #mainContent -->
</div>
<br class="clearfloat" />
</div>
{% endblock %}