{% extends "base.html" %}
{% load wiki_markup %}
{% load survex_markup %}

{% block title %}All Survex scans folders{% endblock %}
{% block nav %}{% endblock %}
{% block related %}{% endblock %}

{% block content %}

<h3>All Survex scans folders</h3>
<table>
<tr><th>Scans folder</th><th>Files</th><th>Survex blocks</th></tr>
{% for survexscansfolder in survexscansfolders %}
  <tr>
    <td><a href="{{survexscansfolder.get_absolute_url}}">{{survexscansfolder.walletname}}</a></td>
    <td>{{survexscansfolder.survexscansingle_set.all|length}}</td>
    <td>
    {% for survexblock in survexscansfolder.survexblock_set.all %}
      <a href="{% url svx survexblock.survexfile.path %}">{{survexblock}}</a>
    {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
