{% extends "base.html" %}
{% load wiki_markup %}
{% load survex_markup %}

{% block title %}Tunnel files{% endblock %}

{% block content %}

<h3>All Tunnel files</h3>
<table>
<tr><th>File</th><th>Font</th><th>Frame</th><th>SurvexBlocks</th><th>Size</th><th>Paths</td></tr>
{% for tunnelfile in tunnelfiles %}
  <tr>
    <td><a href="{% url tunnelfile tunnelfile.tunnelpath %}">{{tunnelfile.tunnelpath}}</a></td>
    <td>{{tunnelfile.bfontcolours}}</td>
    <td></td>
    <td></td>
    <td>{{tunnelfile.filesize}}</td>
    <td>{{tunnelfile.npaths}}</td>   
  </tr>
{% endfor %}
</table>

{% endblock %}