{% extends "base.html" %}

{% block title %}
registration_form.html | {{ block.super }}
{% endblock %}

{% block header %}
<h1>registration_form.html</h1>
{% endblock %}

{% block content %}
<h2>Erebus cave and fumarole database registration</h2>

<p>If you've been to any of the Erebus caves or fumaroles, we need your input!</p>
<p>Please sign up here so that you can add descriptions, coordinates, photos, etc.</p>
<p>The password you type here is converted to a hash as soon as it hits our server and therefore will not be seen or stored by anyone including the administrators of erebuscaves.com . However, this is not an encrypted connection, so if someone is eavesdropping on your network it could be theoretically be intercepted before reaching erebuscaves.com . We may implement and https connection soon to deal with this. </p>

<form action="{% url registration_register %}" method="POST">{% csrf_token %}
        {% for error in form.non_field_errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}

<table>
<tr>
    <td align="right" valign="top">Username:</td>
    <td>
        {{ form.username }} <br/>
        {% for error in form.username.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Email:</td>
    <td>
        {{ form.email }} <br/>
        {% for error in form.email.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password:</td>
    <td>
        {{ form.password1 }} <br/>
        {% for error in form.password1.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password (again):</td>
    <td>
        {{ form.password2 }} <br/>
        {% for error in form.password2.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Register" /></td>
</tr>
</table>
</form>

{% endblock %}
