{% extends "base.html" %}

{% block content %}
<h2>About this website</h2>

<p>The Erebus Cave and Fumarole Database at http://www.erebuscaves.com was created using free (gratis) and open-source (libre) software. You can download the source for the website using the mercurial command "hg clone -r erebus https://troggle.googlecode.com/hg/" . The backend is in <a href="http://www.python.org">Python</a>, using the <a href="http://www.djangoproject.com">Django Web Framework</a> and a <a href="http://www.mysql.com">MySQL</a> database. The Django project used is the "erebus" branch of <a href="http://troggle.googlecode.com">Troggle</a>. Maps are all javascript, using the <a href="http://www.openlayers.org">OpenLayers</a> mapping framework. <a href="http://www.gimp.org">GIMP</a> was used for image editing.</p>

<p>Imagery on the main page is the one exception; the google earth satellite base layer is used for convenience.</p>

<p>The is maintained by Aaron Curtis, aarongc at nmt d0t edu.</p>
{% endblock content %}