<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/main3.css" title="eyeCandy"/>
<!--<link rel="alternate stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/mainplain.css" title="plain"/>-->
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/dropdownNavStyle.css" />
<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/jquery.jqplot.css" />
<title>{% block title %}Erebus Cave Database{% endblock %}</title>
<script src="{{ settings.MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/jquery.quicksearch.js" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/base.js" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/jquery.dropdownPlain.js" type="text/javascript"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{{ settings.MEDIA_URL }}js/jquery.flot.pack.js"></script>


{% block head %}{% endblock %}
</head>
<body  {% block body_onload %}onLoad="contentHeight();"{% endblock %}>

<div id="header"> 
  <h1>Erebus Cave and Fumarole Database</h1>
  <div id="editLinks"> {% block loginInfo %}
    <a href="/">Home</a> | 
    {% if user.username %}
    You are logged in as {{ user.username }} 
    	{% if user.person %}(<a href="{{ user.person.get_absolute_url }}">{{ user.person }}</a>)
        	{% else %}<a href={% url profiles_select_profile %}>sort your profile</a>
        {% endif %}.
    | <a href="{% url auth_logout %}">Log out</a> {% else %} <a href="{% url registration_register %}">Sign up</a> | <a href="{% url auth_login %}">Log in</a> {% endif %}
    {% endblock%}
    {% block editLink %}

    {% endblock %}
   </div>
</div>

<div id="nav">

  {% block nav %} 
  <!-- Use id="nav" for the left side menu -->
  {% endblock %}
</div>
 

 
<div id="content" >

    {% block contentheader %}
    {% endblock %}


    {% block related %}
    {% endblock %}



    {% block content %}
    This page has no content.
    {% endblock %}

</div>

<div id="right_sidetable"> 

    <div id="browse_expeditions">
    {% block browse_expeditions %}
    {% endblock browse_expeditions %}
    </div>    

    <div id="entrance_list" style="padding-left:0">
    {% block entrance_list %}
    {% endblock entrance_list %}
    </div>
    
    <div id="add_info">
    {% block add_info %}
    {% endblock add_info %}
    </div>

    <div id="recent_actions">
        {% block recent_actions %}
        
            <script language="javascript">
                    $('#right_sidetable').remove()
                    /*This is a hack to stop a line appearing because of the empty div border*/
            </script>
        {% endblock recent_actions %}
    </div> 
    
    <div id="misc">
    {% block misc %}
    {% endblock misc %}
    </div>
    
</div>

{% block map %}
{% endblock %}
</body>
</html>
