{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Cave Index{% endblock %}
{% block content %}

{% if notablecaves %}
<h3>Notable caves</h3>
<ul>
{% for cave in notablecaves %}
  <li> <a href="{{ cave.get_absolute_url }}">{{cave.official_name|wiki_to_html_short}} ({{cave}})</a> </li>
{% endfor %}
</ul>
{% endif %}

<h3>All caves</h3>
<form>
    <input type="text" id="search">
</form>

<ul class="searchable">
{% for cave in caves %}
  <li> <a href="{{ cave.get_absolute_url }}">{{cave.official_name|wiki_to_html_short}} ({{cave}})</a> </li>
{% endfor %}
</ul>

{% endblock %}
