{% extends "base.html" %}
{% load wiki_markup %}
{% load comments %}
{% block editLink %}| <a href={{cave.get_admin_url}}>Edit cave {{cave|wiki_to_html_short}}</a>{% endblock %}

{% block title %}{{ cave.official_name|wiki_to_html_short }}{% endblock %}

{% block contentheader %}

         <h2>{{ cave.official_name|wiki_to_html_short }}</h2>

{% endblock %}

{% block head %}
{% if cave.timeseries_set.all %}

    {% for timeseries in cave.timeseries_set.all %}
        {{timeseries.plot}}
    {% endfor %}
    
{% endif %}
{% endblock %}

{% block body_onload %}
{% endblock %}

{% block content %}

{% if cave.logbookentry_set.all %}
  <h3>Logbook entries (<a href="/admin/core/logbookentry/add/?cave={{cave.id}}">add new</a>)</h3>
  <table>

    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Preview</th>
        <th>People</th>
        <th></th>
    </tr>
      {% for logbookentry in cave.logbookentry_set.all %}
    <tr>
        <td>{{logbookentry.date}}</td>
        <td><a href="{{ logbookentry.get_absolute_url }}">{{logbookentry.title|safe}}</a></td>
        <td>{{logbookentry.intro}}</td>
        {% if logbookentry.persontrip_set.all %}
        {% for pt in logbookentry.persontrip_set.all %}
            {% if pt.author %}<td class='author'>{% else %}<td>{% endif %}
            <a href="{{pt.personexpedition.person.get_absolute_url}}">{{pt.personexpedition.person}}</a>,
        {% endfor %}</td>
        {% else %}
            <td> &nbsp </td>
        {% endif %}
        
        <td>
                <a href="{{ logbookentry.get_admin_url }}">edit</a>
        </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}

{% if cave.entrances %}
    <h3>Entrances (<a href="/admin/core/entrance/add/?cave={{cave.id}}">add new</a>)</h3>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Northing
            </th>
            <th>
                Easting
            </td>            
        </tr>
    {% for ent in cave.entrances %}

        <tr>
            <td>
                {{ ent }}
            </td>
            <td>
                {{ ent.location.y }}
            </td>            
            <td>
                {{ ent.location.x }}
            </td>
            <td>
                {% if user.is_authenticated %}
                    <a href="{{ ent.get_admin_url }}">edit</a>
                {% endif %}
            </td>
        </tr>
    
    {% endfor %}
    </table>
{% endif %}

{% if cave.survey_set.all %}

<h3>Surveys  (<a href="/admin/core/survey/add/?logbookentry={{logbookentry.id}}">add new</a>)</h3>

    <table>
    {% for survey in cave.survey_set.all %}
    <tr>
    <td>{{survey}}</td>

        {% if survey.rendered_image %}
            <td><a href="{{rendered_image.file.url}}"><img src="{{rendered_image.thumbnail_image.url}}"></a><br>Final survey</td>
        {% endif %}

        {% for scan in survey.scannedimage_set.all %}
            <td><a href="{{scan.file.url}}"><img src="{{scan.thumbnail_image.url}}"></a><br>{{scan.contents}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

{% endif %}

{% if cave.photo_set.all %}
<h3>Photos (<a href="/admin/core/photo/add/?cave={{cave.id}}">upload new</a>)</h3>
    <table>
        {% for photo in cave.photo_set.all %}
            <tr>
                <td><a href="{{photo.file.url}}"><img src="{{photo.thumbnail_image.url}}"></a></td>
                <td>{{photo.caption}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if cave.timeseries_set.all %}
<h3>Timeseries</h3>
    {% for timeseries in cave.timeseries_set.all %}
    <div id="both_graphs_{{timeseries.id}}"  class="timeseries_graph">
        <p style="clear:left;">Timeseries #{{timeseries.pk}}: {{timeseries}}</p>        
        <div id='{{timeseries.id}}_graph_id'  class="main_graph"></div>
        <div id='{{timeseries.id}}_overview_graph_id' class="overview_graph"></div>
        <p style="clear:right;">Click and drag on either graph to zoom the left graph. Click "comments" below to discuss this data.</p>
        <p style="clear:left;">Y axis: {{timeseries.data_type}}</p>
        <p style="clear:left;">X axis: time</p>
        
        {{timeseries.comments}}
    </div>
    
    {% endfor %}
{% endif %}

{% if cave.explorers %}
    <h2>Explorers</h2>
    {{ cave.explorers|wiki_to_html }}
{% endif %}
{% if cave.underground_description %}
    <h2>Underground Description</h2>
    {{ cave.underground_description|wiki_to_html }}
{% endif %}
{% if cave.equipment %}
    <h2>Equipment</h2>
    {{ cave.equipment|wiki_to_html }}
{% endif %}
{% if cave.references %}
    <h2>References</h2>
    {{ cave.references|wiki_to_html }}
{% endif %}
{% if cave.survey %}
    <h2>Survey</h2>
    {{ cave.survey|wiki_to_html }}
{% endif %}
{% if cave.kataster_status %}
    <h2>Kataster_status</h2>
    {{ cave.kataster_status|wiki_to_html }}
{% endif %}
{% if cave.underground_centre_line %}
    <h2>Underground Centre Line</h2>
    {{ cave.underground_centre_line|wiki_to_html }}
{% endif %}
{% if cave.survex_file %}
    <h2>Survex File</h2>
    {{ cave.survex_file|wiki_to_html }}
{% endif %}
{% if cave.notes %}
    <h2>Notes</h2>
    {{ cave.notes|wiki_to_html }}
{% endif %}

{% if cave.get_QMs %}
	<h2>Question marks</h2>
    <h3>Extant</h3>
    <ul id="cavelist">
    {% for QM in cave.get_QMs %}
        {% if QM.ticked_off_by %}
        {% else %}
        <li><a href="{{QM.get_absolute_url}}">{{QM}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <h3>Ticked off</h3>
    <ul>
    {% for QM in cave.get_QMs %}
        {% if QM.ticked_off_by %}
        <li><a href="{{QM.get_absolute_url}}">{{QM}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

<h3> Comments </h3>
{{cave.comments}}

{% endblock %}
