{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Mount Erebus Cave Database{% endblock %}

{% block head %}
    <script src="http://www.openlayers.com/dev/OpenLayers.js"></script>
    <script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{settings.GOOGLE_MAPS_KEY}}'></script>
    <script type="text/javascript">
        var map, entrances, selectControl;
        
        function selected(evt){
            window.open(evt.feature.attributes.href,"Window1, ");
            return false;
        }
        
        function init(){
            map = new OpenLayers.Map( 'map' );
            
            var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {'type': G_PHYSICAL_MAP , 'sphericalMercator': true, 'maxExtent': new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34)}
            );

            var gsat = new OpenLayers.Layer.Google(
                "Google Satellite",
                {'type': G_SATELLITE_MAP , 'sphericalMercator': true, 'maxExtent': new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34)}
            );
            
            

            entrances = new OpenLayers.Layer.Vector("Simple Geometry", {
                styleMap: new OpenLayers.StyleMap({
                    "default": new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                        label : "${name}",
                        labelAlign: "${align}",
                        fontSize: "15px",
                        fontColor:"#00FF00",
                        fontWeight:"bold",
                        fill: true,
                    }, OpenLayers.Feature.Vector.style["default"])),
                    "select": new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                        label : "${name}",
                        labelAlign: "${align}",
                        fontSize: "15px",
                        fontColor:"#00FF00", 
                        fontWeight:"bold",                        
                        fill: true,
                    }, OpenLayers.Feature.Vector.style["select"])),
                })
            });

            proj = new OpenLayers.Projection("EPSG:4326");
            
            {% for entrance in entrances %}
                    entrance{{entrance.id}} = new OpenLayers.Geometry.Point({{entrance.location.x}}, {{entrance.location.y}});
                    entrance{{entrance.id}}.transform(proj, new OpenLayers.Projection("EPSG:900913"));
                    var entrance{{entrance.id}}Feature = new OpenLayers.Feature.Vector(entrance{{entrance.id}});
                        entrance{{entrance.id}}Feature.attributes = {
                            href: "{{entrance.caves.0.get_absolute_url}}",
                            name: "{{entrance}}",
                            cavename: "{{entrance.caves.0.official_name}}",
                            pk:"{{entrance.caves.0.pk}}",
                            favColor: "black",
                            align: "rt"
                };
            {% endfor %}
            
            entrances.addFeatures([{%for entrance in entrances %}entrance{{entrance.id}}Feature, {%endfor%}]);
            
            var get_cave_stats = function(evt) {
                $.post('/ajax/',
                       { 'cave_id': evt.feature.attributes.pk,},
                            function(data){
                                    info='<h2 class=sidetable>'
                                    info+=evt.feature.attributes.cavename
                                    info+='</h2>'
                                    
                                    info+='<table><tr><th>Logbook entries</th><td>'
                                    info+=data.logbookentrycount
                                    info+='</td></tr>'

                                    info+='<tr><th>Photos</th><td>'
                                    info+=data.photocount
                                    info+='</td></tr>'

                                    info+='<tr><th>Surveys</th><td>'
                                    info+=data.surveycount
                                    info+='</td></tr>'

                                    info+='<tr><th>Timeseries</th><td>'
                                    info+=data.dataseriescount
                                    info+='</td></tr>'

                                    info+='</td></table>'
                                    document.getElementById("cave_stats").innerHTML = info;                                    
                                    responsevariable=data
                            },
                            "json");
            };

            var clear_cave_stats = function(evt) {
                document.getElementById("cave_stats").innerHTML = '';
            };

            highlightCtrl = new OpenLayers.Control.SelectFeature(entrances, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary",
                eventListeners: {
                    //beforefeaturehighlighted: report,
                    featurehighlighted: get_cave_stats,
                    featureunhighlighted: clear_cave_stats,
                }
            });

            selectCtrl = new OpenLayers.Control.SelectFeature(
                [entrances],
                {
                    clickout: true, toggle: false,
                    multiple: false, hover: false,
                    toggleKey: "ctrlKey", // ctrl key removes from selection
                    multipleKey: "shiftKey" // shift key adds to selection
                }
            );

            
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            map.addLayer(gsat);
            map.addLayer(gphy);            
            map.addLayer(entrances);

            map.addControl(highlightCtrl);
            highlightCtrl.activate();
            map.addControl(selectCtrl);
            selectCtrl.activate();

            map.zoomToExtent(entrances.getDataExtent());
            map.zoomTo(11);
            
            entrances.events.register("featureselected", entrances, selected);
        }
    </script>

{% endblock head %}

        {% block add_info %}
        <h2 class="collapse_head">Add information</h2>
        <span class="collapse_body">
        <a href="{% url admin:core_logbookentry_add %}">new logbook entry</a><br />
        <a href="{% url admin:core_photo_add %}">new photo</a><br />
        <a href="{% url admin:core_survey_add %}">new survey</a><br />
        <a href="{% url admin:datalogging_timeseries_add %}">new timeseries</a><br />
        </span>
        </ul>
        {% endblock add_info %}

	{% block recent_actions %}

        
        <h2 class="collapse_head">Recent actions</h2>
            {% load log %}
            {% get_admin_log 10 as admin_log %}
            {% if not admin_log %}
            <p class="collapse_body">No recent actions</p>
            {% else %}
            <ul class="actionlist collapse_body">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="admin/{{ entry.get_absolute_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{entry.content_type.name}}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">Unknown content</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
	{% endblock %}

{% block body_onload %}init();{% endblock body_onload %}

{% block content %}

    <div id="map"></div>
    <div id="cave_stats"></div>

{% endblock content %}

{% block margins %}
{% endblock margins %}