{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Erebus Cave and Fumarole Database{% endblock %}

{% block head %}
<!--     <script src="{{ settings.MEDIA_URL }}js/OpenLayers.js"></script> -->
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
<!--     <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{settings.GOOGLE_MAPS_KEY}}&amp;sensor=false"></script> -->
    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/main3.css" title="eyeCandy"/>
    <script type="text/javascript">
        var map, selectCtrl, highlightCtrl;
        
        function entSelected(evt){
            window.open(evt.feature.attributes.href,"Window1");
            $('#loading').replaceWith("<div id='loading'> opened page for " + evt.feature.attributes.cavename + " in another tab / window </div>");
            $('#loading').show();
            $('#loading').fadeOut('slow');
            selectCtrl.unselectAll();
            return false;
        }
        
        function init(){
            cavesmap = new OpenLayers.Map( 'map', {
                controls: [
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.ScaleLine()
                ]
            });
            
            var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {'type': google.maps.MapTypeId.TERRAIN , 'sphericalMercator': true, 'maxExtent': new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34)}
            );

            var gsat = new OpenLayers.Layer.Google(
                "Google Satellite",
                {'type': google.maps.MapTypeId.SATELLITE , 'sphericalMercator': true, 'maxExtent': new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34)}
            );
            
            

            entrances = new OpenLayers.Layer.Vector("Cave and tower entrances", {
                styleMap: new OpenLayers.StyleMap({
                    "default": new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                        label : "",
                        labelAlign: "${align}",
                        externalGraphic: "${graphic}",
                        pointRadius:20,
                        graphicOpacity:1,
                        fontSize: "15px",
                        fontColor:"#00FF00",
                        fontWeight:"bold"}
                    , OpenLayers.Feature.Vector.style["default"])),
                    "selected": new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                        label : "${name}",
                        labelAlign: "${align}",
                        externalGraphic: "${graphic}",
                        pointRadius:20,
                        graphicOpacity:1,
                        labelAlign: "${align}",
                        fontSize: "15px",
                        fontColor:"#000000",
                        fontWeight:"bold",                        
                        fill: true}
                        , OpenLayers.Feature.Vector.style["highlight"])),
                    "clicked": new OpenLayers.Style(OpenLayers.Util.applyDefaults({
                        label : "Opening in new window",
                        labelAlign: "${align}",
                        externalGraphic: '${graphic}',
                        pointRadius:20,
                        graphicOpacity:1,
                        labelAlign: "${align}",
                        fontSize: "15px",
                        fontColor:"#000000", 
                        fontWeight:"bold",                        
                        fill: true}
                        , OpenLayers.Feature.Vector.style["select"]))
                }),
            eventListeners: {
                    featureclick: function (evt){
//                         alert('you clicked a feature')
                        }
                }
            });

            proj = new OpenLayers.Projection("EPSG:4326");

            add_point_from_JSON = function(data, entrance_id){
                entrance = new OpenLayers.Geometry.Point(data.x, data.y);
                entrance.transform(proj, new OpenLayers.Projection("EPSG:900913"));
                entranceFeature = new OpenLayers.Feature.Vector(entrance);
                entranceFeature.attributes = data;
                return entranceFeature;
            };
          
            get_ent_coords = function(entrance_id, entrances, total) {
                $.ajax({
                    cache: false,
                    url:'{{settings.URL_ROOT}}coords_ajax/',
                    data:{ 'entrance_id' : entrance_id },
                    complete:function(data,status){
                               entrance_id++;
                               if (entrance_id<=total) {
                                   get_ent_coords(entrance_id,entrances,total);
                               }
                               else {
				   qs=$("#search").quicksearch($(".searchable li"));
				   qs.cache();
                                   $('#loading').fadeOut();
                               }

                             },
                    success: function(data){
                             entranceFeature=add_point_from_JSON(data, entrance_id);
                             entrances.addFeatures(entranceFeature);
                             $('#entrance_list ul').append("<li><a href='" + entranceFeature.attributes.href + "'>" + entranceFeature.attributes.cavename + "</a></li>");
                             ent_list_item=$('#entrance_list ul li:last a')
//                             ent_list_item.data(entFeat,entranceFeature)
                             ent_list_item.mouseenter(
                                    {entFeat:entranceFeature},
                                    function(evt) {
                                        highlightCtrl.highlight(evt.data.entFeat);
                                    });
                             ent_list_item.mouseout(
                                    {entFeat:entranceFeature},
                                    function(evt) {
                                        highlightCtrl.unhighlight(evt.data.entFeat);
                                    });
                             res=$('#loading').replaceWith("<div id='loading'> " + entrance_id + " of " + total + " entrances loaded </div>");
                             
                    },
                    dataType:"json"})                    
            };

            highlightEnt=function(entrance) {
                highlightCtrl.highlight(entrance);
            }

            get_cave_stats = function(evt) {
                $.get('{{settings.URL_ROOT}}ajax/',
                       { 'cave_id': evt.feature.attributes.pk },
                            function(data){
                                    info='<h2 class=left_sidetable>'
                                    info+=evt.feature.attributes.cavename
                                    info+='</h2>'

                                    info+='<table><tr><th>Logbook entries</th><td>'
                                    info+=data.logbookentrycount
                                    info+='</td></tr>'

                                    info+='<tr><th>Photos</th><td>'
                                    info+=data.photocount
                                    info+='</td></tr>'

                                    info+='<tr><th>Surveys</th><td>'
                                    info+=data.surveycount
                                    info+='</td></tr>'

                                    info+='<tr><th>Timeseries</th><td>'
                                    info+=data.dataseriescount
                                    info+='</td></tr>'
                                    if (data.protectioncategory){
                                    info+='<tr><td colspan=2>'
                                    info+=data.protectioncategory
                                    info+='</td></tr>'
                                    }
                                    info+='</table>'

                                    $("#cave_stats").html(info);
                                    $("#cave_stats").show();                                  
                                    responsevariable=data
                                    
                                    $('#cave_stats table').css("background-repeat","no-repeat")
                                    $('#cave_stats table').css("background-image","url("+evt.feature.attributes.graphic+")")
                                    
                                
                            },
                            "json");
            };

            clear_cave_stats = function(evt) {
                $("#cave_stats").hide();
            };

            highlightCtrl = new OpenLayers.Control.SelectFeature(entrances, {
                hover: true,
                highlightOnly: true,
                renderIntent: "selected",
                eventListeners: {
                    featurehighlighted: get_cave_stats,
                    featureunhighlighted: clear_cave_stats 
                }
            });

            selectCtrl = new OpenLayers.Control.SelectFeature(
                entrances,
                {
                    hover: false,
                    clickout: true,
                    multiple: false

                }
            );

            
            cavesmap.addControl(new OpenLayers.Control.LayerSwitcher());
            cavesmap.addLayer(gsat);
            cavesmap.addLayer(gphy);            
            cavesmap.addLayer(entrances);
            cavesmap.zoomToExtent(new OpenLayers.Bounds(18599368.165099,-14124250.106075,18616043.045581,-14110854.747819));
            get_ent_coords(1,entrances,{{lastentpk}});
            cavesmap.addControl(highlightCtrl);
            highlightCtrl.activate();
            cavesmap.addControl(selectCtrl);
            selectCtrl.activate();
            entrances.events.register("featureselected", entrances, entSelected);
        }
    </script>

{% endblock head %}

        {% block entrance_list %}
        <h2 class="collapse_head">Caves</h2>
        <span class="collapse_body">
        <form>
            <input type="text" id="search" autocomplete="off" placeholder="type to search">
        </form>
        <ul class="searchable" style="padding:0">
        </ul>
        </span>
        {% endblock %}

        {% block browse_expeditions %}
        <h2 class="collapse_head">Field seasons</h2>
        <span class="collapse_body">
            {% for expedition in expeditions %}
                <a href="{{expedition.get_absolute_url}}">{{expedition}}</a><br />
            {% endfor %}
        </span>
        {% endblock browse_expeditions %}

        {% block add_info %}
        <h2 class="collapse_head">Add information</h2>
        <span class="collapse_body">
        <a href="{% url admin:core_logbookentry_add %}" target="_blank">new logbook entry</a><br />
        <a href="{% url admin:core_photo_add %}" target="_blank">new photo</a><br />
        <a href="{% url admin:core_survey_add %}" target="_blank">new survey</a><br />
        <a href="{% url admin:datalogging_timeseries_add %}" target="_blank">new timeseries</a><br />
        </span>
        {% endblock add_info %}

	{% block recent_actions %}

        
        <h2 class="collapse_head">Recent actions</h2>
            {% load log %}
            {% get_admin_log 10 as admin_log %}
            {% if not admin_log %}
            <p class="collapse_body">No recent actions</p>
            {% else %}
            <ul class="actionlist collapse_body">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_edited_object.get_absolute_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{entry.content_type.name}}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">Unknown content</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}

    {% endblock %}
    
    {% block misc %}
        <h2 class="collapse_head">Miscelleneous</h2>
        <span class="collapse_body">
        <a href="{%url photos%}">view all photos</a><br />
        <a href="{%url about%}">about this database</a><br />
        <a href="{%url downloadhubetab%}">cave summary table</a><br />
        </span>
    {% endblock misc %}

{% block body_tag %}onload="init();"{% endblock body_tag %}

{% block content %}
{% endblock content %}

{% block map %}
    <div id="map"></div>
    
    <div id="cave_stats" class="left_sidetable" style="display:none"></div>


{% endblock map %}

{% block margins %}
{% endblock margins %}
