{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Logbook {{logbookentry}}{% endblock %}
{% block editLink %}| <a href={{logbookentry.get_admin_url}}>Edit logbook entry {{logbookentry|wiki_to_html_short}}</a>{% endblock %}

{% block related %}
<div id="related">
<h2>Related Objects</h2>
<p>Expedition: <a href="{{ logbookentry.expedition.get_absolute_url }}">{{logbookentry.expedition.name}}</a></p>
<p>Previous entry: <a href="{{logbookentry.get_previous_by_date.get_absolute_url}}">{{logbookentry.get_previous_by_date}}</a></p>
<p>Next entry: <a href="{{logbookentry.get_next_by_date.get_absolute_url}}">{{logbookentry.get_next_by_date}}</a></p>

{% if logbookentry.cave %}
  <p>Cave: <a href="{{ logbookentry.cave.get_absolute_url }}">{{logbookentry.cave}}</p>
{% else %}
  <p>{{logbookentry.place}}</p>
{% endif %}

<p>
  {% if logbookentry.get_previous_by_date %}
    <a href="{{ logbookentry.get_previous_by_date.get_absolute_url }}">{{logbookentry.get_previous_by_date.date}}</a>
  {% endif %}
  {% if logbookentry.get_next_by_date %}
    <a href="{{ logbookentry.get_next_by_date.get_absolute_url }}">{{logbookentry.get_next_by_date.date}}</a>
  {% endif %}
</p>

<table class="cavers">
<tr><th>Caver</th><th>T/U</th><th>Prev</th><th>Next</th></tr>
{% for persontrip in logbookentry.persontrip_set.all %}
<tr>
  {% if persontrip.author %}
    <td class="author">
  {% else %}
    <td>
  {% endif %}
  <a href="{{ persontrip.person.get_absolute_url }}">{{persontrip.personexpedition.person}}</a>
  </td>
  
  <td>
  {% if persontrip.timeunderground %}
     - T/U {{persontrip.timeunderground}}</p>
  {% endif %}
  </td>

  <td>
  {% if persontrip.persontrip_prev %}
    <a href="{{ persontrip.next_trip_for_person.logbook_entry.get_absolute_url }}">{{persontrip.persontrip_prev.date}}</a>
  {% endif %}
  </td>
  <td>
  {% if persontrip.persontrip_next %}
    <a href="{{ persontrip.prev_trip_for_person.logbook_entry.get_absolute_url }}">{{persontrip.persontrip_next.date}}</a>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{% if newQMlink %}
<a href="{{newQMlink}}">Add QM found on this trip</a>
{% endif %}
</div>
{% endblock related %}

{% block content %}
<div id="col1">
<div class="logbookentry object">
<h2>Logbook entry: {{logbookentry}}</h2>

    <p>About happenings on {{logbookentry.date}}, {{logbookentry.author}} wrote:</p>
    
    <div class="entry_text">
    {{logbookentry.text|wiki_to_html}}
    
    {{logbookentry.comments}}
    </div>

    
{% if logbookentry.survey_set.all %}

<h3>Surveys  (<a href="/admin/core/survey/add/?logbookentry={{logbookentry.id}}">add new</a>)</h3>

    <table>
        {% for survey in logbookentry.survey_set.all %}
    <td>{{survey}}</td>

        {% if survey.rendered_image %}
            <td><a href="{{rendered_image.file.url}}"><img src="{{rendered_image.thumbnail_image.url}}"></a><br>Final survey</td>
        {% endif %}

        {% for scan in survey.scannedimage_set.all %}
            <td><a href="{{scan.file.url}}"><img src="{{scan.thumbnail_image.url}}"></a><br>{{scan.contents}}</td>
        {% endfor %}
    {% endfor %}
    </table>

{% endif %}

</div>
</div>
</div>
<div style="clear:both">
{% endblock %}
