{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}Person {{person|wiki_to_html_short}}{% endblock %}

{% block editLink %}| <a href={{person.get_admin_url}}>Edit person {{person|wiki_to_html_short}}</a>{% endblock %}

{% block contentheader %}
<h2> {{person|wiki_to_html_short}} </h2>
{% endblock %}

{% block content %}
{% if person.blurb %}
<h3>About {{person}}</h3>
<p>{{person.blurb|safe}}</p>
{% endif %}

{% for pic in person.photo_set.all %}
{% if pic.is_mugshot %}
<h3>Mugshot for {{person}}</h3>
    <div class="figure">
      <p> <img src="{{ pic.thumbnail_image.url }}" class="thumbnail" />
      <p> {{ pic.caption }}</p>
      <p> <a href="{{ pic.get_admin_url }}">edit {{pic}}</a> </>
      </p>
      </p>
    </div>
{% endif %}
{% endfor %}
<br class="clearfloat" />

<h3>{{person|wiki_to_html_short}} has been on the  following expeditions:</h3>
<p>
<ul>
{% for personexpedition in person.personexpedition_set.all %}
  <li> <a href="{{ personexpedition.expedition.get_absolute_url }}">{{personexpedition.expedition}}</a>
  <span style="padding-left:{{personexpedition.persontrip_set.all|length}}0px; background-color:red"></span> 
      {{personexpedition.persontrip_set.all|length}} trips
</li>
{% endfor %}
</ul>
</p>


{% endblock %}
