{% extends "base.html" %}
{% block content %}

{% if overall_stats %}

<h3>Overall</h3>

<table>
        <tr>
            <th>Month</th>
            <th>Count</th>
            <th>Avg</th>
            <th>Stdev</th>
            <th>Min</th>    
            <th>Max</th>
        </tr>

        {% for month in overall_stats %}
        <tr>
            <td>{{month.0}}</td>        
            <td>{{month.1.value__count}}</td>
            <td>{{month.1.value__avg}}</td>
            <td>{{month.1.value__stddev}}</td>
            <td>{{month.1.value__min}}</td>
            <td>{{month.1.value__max}}</td>
        </tr>
        {% endfor %}    
    </td>
</table>


{% endif %}


{% for ts in timeseries %}

<h3>{{ts}}</h3>

<table>
<tr>
    <th>Month</th>
    <th>Count</th>
    <th>Avg</th>
    <th>Stdev</th>
    <th>Min</th>    
    <th>Max</th>
</tr>

    {% for month in ts.monthly_stats %}
    <tr>
        <td>{{month.0}}</td>        
        <td>{{month.1.value__count}}</td>
        <td>{{month.1.value__avg}}</td>
        <td>{{month.1.value__stddev}}</td>
        <td>{{month.1.value__min}}</td>
        <td>{{month.1.value__max}}</td>
    </tr>
    {% endfor %}    
</table>

{% endfor %}
{% endblock content %}
