{% extends "base.html" %}
{% load wiki_markup %}

{% block title %}{{ cave.official_name|wiki_to_html_short }}{% endblock %}

{% block contentheader %}
<table id="cavepage">
<tr>
    <th id="kat_no">
        {% if cave.kataster_number %}
            {{ cave.kataster_number|wiki_to_html_short }}
            {% if cave.entrancelist %}
                - {{ cave.entrancelist|wiki_to_html_short }}
            {% endif %}
            {% if cave.unofficial_number %}
                <br />({{ cave.unofficial_number|wiki_to_html_short }})
            {% endif %}
        {% endif %}
    </th>
    <th id="name">
         {{ cave.official_name|wiki_to_html_short }}
    </th>
    <th id="status">
         {{ cave.kataster_code|wiki_to_html_short }}
    </th>
</tr>
</table>
{% endblock %}