{% extends "base.html" %}
{% load wiki_markup %}


{% block title %}{{ cave.official_name|wiki_to_html }} - {{ entrance_letter|wiki_to_html }}{% endblock %}

{% block content %}
<table id="cavepage">
<tr>
    <th id="kat_no">
        {% if cave.kataster_number %}
            {{ cave.kataster_number|wiki_to_html }}{{ letter|wiki_to_html }}
            {% if cave.unofficial_number %}
                <br />({{ cave.unofficial_number|wiki_to_html }})
            {% endif %}
        {% endif %}
    </th>
    <th id="name">
         {% if entrance.name %}
         {{ entrance.name|wiki_to_html }}
         {% else %}
             Unnamed
         {% endif %} - {{ cave.official_name|wiki_to_html }}
    </th>
    <th id="status">
         {{ cave.kataster_code|wiki_to_html }}
    </th>
</tr>
</table>

{% if entrance.entrance_description %}
    <h2>Entrance Description</h2>
    {{ entrance.entrance_description|wiki_to_html }}
{% endif %}
{% if entrance.explorers %}
    <h2>Explorers</h2>
    {{ entrance.explorers|wiki_to_html }}
{% endif %}
{% if entrance.map_description %}
    <h2>Map</h2>
    {{ entrance.map_description|wiki_to_html }}
{% endif %}
{% if entrance.explorers %}
    <h2>Entrance Description</h2>
    {{ entrance.entrance_description|wiki_to_html }}
{% endif %}
{% if entrance.location_description %}
    <h2>Location Description</h2>
    {{ entrance.location_description|wiki_to_html }}
{% endif %}
{% if entrance.approach %}
    <h2>Approach</h2>
    {{ entrance.approach|wiki_to_html }}
{% endif %}
{% if entrance.underground_description %}
    <h2>Underground Description</h2>
    {{ entrance.underground_description|wiki_to_html }}
{% endif %}
{% if entrance.photo %}
    <h2>Photo</h2>
    {{ entrance.photo|wiki_to_html }}
{% endif %}
{% if entrance.marking %}
    <h2>Marking - {{ entrance.marking_val|wiki_to_html }}</h2>
    {% if entrance.marking_comment %}
        {{ entrance.marking_comment|wiki_to_html }}
    {% endif %}
{% endif %}
{% if entrance.findability %}
    <h2>Findability - {{ entrance.findability_val|wiki_to_html }}</h2>
    {% if entrance.findability_description %}
        {{ entrance.findability_description|wiki_to_html }}
    {% endif %}
{% endif %}
{% if entrance.bearings %}
    <h2>Bearings</h2>
    {{ entrance.bearings|wiki_to_html }}
{% endif %}

{% endblock %}
