{% extends "base.html" %}
{% load wiki_markup %}
{% load link %}

{% block title %}Experimental{% endblock %}

{% block content %}

<h1>Expo Experimental</h1>

<p>Number of survey legs: {{nsurvexlegs}}, total length: {{totalsurvexlength}}</p>

<table>
<tr><th>Year</th><th>Surveys</th><th>Survey Legs</th><th>Total length</th></tr>
{% for legs in legsbyexpo %}
<tr>
  <td>{{legs.0.year}}</td>
  <td>{{legs.0.survexblock_set.all|length}}</td>
  <td>{{legs.1.nsurvexlegs}}</td>
  <td>{{legs.1.survexleglength}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}

